#root {
  max-width: 4800px;
  margin: 0 auto;
  text-align: center;
  background-color: #fffcf2;
}

.background-image {
  background-position: bottom left;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.modal {
  color: #07455d;
}

.segment {
  position: absolute;
}

.center-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.activity-bar-container {
  position: absolute;
  height: 450px;
  width: 450px;
  transform: translate(45px, 45px);
}