#root {
  max-width: 4800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #fffcf2;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.polar-bar-chart {
  outline: 2px dotted black;
  width: 540px;
  height: 540px;
}

.segment {
  position: absolute;
}


.segment:nth-child(1) {
  background-color: #237c9c;
}

.segment:nth-child(2) {
  background-color: #5aafa9;
}

.segment:nth-child(3) {
  background-color: #f89c5a;
}

.segment:nth-child(4) {
  background-color: #e3685b;
}

.center-image {
  position: absolute;
  height: 200px;
  width: 200px;
  clip-path: circle(100px);
  transform: translate(-100px, 170px);
}